.barre{
    background: #444;
    width: 90px ;
    height: 5px;
    border-radius: 2px;
    margin: 0auto;
}
.formluaire
{
    width: 100%;
    height: 100%;
    padding: 25px;
    align-items: center;
}
.formluaire form 
{
    width: 90%;
    height: 100%;
    padding: 30px;
    border-radius: 25px;
    margin: 0 auto;
    display: table;
    background-color: #fff;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);

}
h2{
    text-align: center ;
    text-transform: uppercase;
    border-bottom: 1px solid #888;
    text-shadow: 2px 0 0 rgb(21, 0, 73);
}
h3{

    border-bottom: 1px solid #888;
    text-shadow: 2px 0 0 rgb(92, 92, 210);
}
label{
    font-size: 14px;
    text-transform: uppercase;
}
.star{
    color: rgb(45, 49, 227);
    font-size: 20px;
    margin-left: 3px;
    font-weight: bold;
}
.formluaire .form1 ,.formluaire .form2
{
    width: 40%;
    display: inline-block;
    
}
.button input{
    width:90%;
    padding: 8px;
    background: #012b6e;
    color: #fff;
    font-size: 19px;
    border: none;
    border-radius: 10px;
    transition: all .4 ease-in;
}
.button input:hover{
    background: #4a85e5;
    color: #fff;
}
.logo{
    width: 100px;
    margin-top: 20 px;
    padding-left: 0px;
   
}

.banner video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-rotio : 16/9){
    .banner video {
        width: 100%;
        height: 100%;

    }
}